In [39]:
#meta 10/26/2020 File Reorg
#Organize Yelp reviews, from a pandas dataframe to a fs 2 folders for positive and negative reviews

#reqs
# need yelp_review_polarity_csv.tgz
# src: https://www.kaggle.com/ashishsalunkhe/yelp-review-polarity

#note: for fast.ai NLP Ch.10
#note: improve for efficiency

In [3]:
import pandas as pd
import numpy as np
import os

## 0. Load data
source: Kaggle  
dataset: Yelp_Review_Polarity  
https://www.kaggle.com/ashishsalunkhe/yelp-review-polarity

#### Descripiton
https://www.kaggle.com/ilhamfp31/yelp-review-dataset

The Yelp reviews polarity dataset is constructed by considering stars 1 and 2 negative, and 3 and 4 positive. For each polarity 280,000 training samples and 19,000 testing samples are take randomly. In total there are 560,000 trainig samples and 38,000 testing samples. Negative polarity is class 1, and positive class 2.

The files train.csv and test.csv contain all the training samples as comma-sparated values. There are 2 columns in them, corresponding to class index (1 and 2) and review text. The review texts are escaped using double quotes ("), and any internal double quote is escaped by 2 double quotes (""). New lines are escaped by a backslash followed with an "n" character, that is "\n".

In [4]:
df = pd.read_csv("train.csv", names = ['rating', 'review'])
print(df.shape)
df.head()

(560000, 2)

   rating                                             review
0       1  Unfortunately, the frustration of being Dr. Go...
1       2  Been going to Dr. Goldberg for over 10 years. ...
2       1  I don't know what Dr. Goldberg was like before...
3       1  I'm writing this review to give you a heads up...
4       2  All the food is great here. But the best thing...

In [5]:
df.dtypes

rating     int64
review    object
dtype: object

### 0.1 Quick EDA 
Group by positive and negative

In [6]:
df.rating.value_counts()

2    280000
1    280000
Name: rating, dtype: int64

In [7]:
df_grp = df.groupby("rating")
df_grp.first()

                                                   review
rating
1       Unfortunately, the frustration of being Dr. Go...
2       Been going to Dr. Goldberg for over 10 years. ...

In [8]:
df_grp.describe()

        review
         count  unique                                                top freq
rating
1       280000  280000  Stay away from this dry cleaners in Chandler. ...    1
2       280000  280000  Really enjoyed my visit. Thank you betsie Boop...    1

In [9]:
df_grp.groups

{1: Int64Index([     0,      2,      3,      5,      6,      7,     10,     15,
                 16,     17,
             ...
             559982, 559983, 559985, 559988, 559990, 559992, 559993, 559994,
             559997, 559998],
            dtype='int64', length=280000),
 2: Int64Index([     1,      4,      8,      9,     11,     12,     13,     14,
                 19,     25,
             ...
             559980, 559981, 559984, 559986, 559987, 559989, 559991, 559995,
             559996, 559999],
            dtype='int64', length=280000)}

In [10]:
for name, group in df_grp:
    print(name, group)

1         rating                                             review
0            1  Unfortunately, the frustration of being Dr. Go...
2            1  I don't know what Dr. Goldberg was like before...
3            1  I'm writing this review to give you a heads up...
5            1  Wing sauce is like water. Pretty much a lot of...
6            1  Owning a driving range inside the city limits ...
...        ...                                                ...
559992       1  Long line, inefficient staff. Maybe my expecta...
559993       1  First: Please note that many people are review...
559994       1  I'm shocked everyone time I go to a Bouchon Ba...
559997       1  Phone calls always go to voicemail and message...
559998       1  Looks like all of the good reviews have gone t...

[280000 rows x 2 columns]
2         rating                                             review
1            2  Been going to Dr. Goldberg for over 10 years. ...
4            2  All the food is great here. But the best thing...
8            2  Before I finally made it over to this range I ...
9            2  I drove by yesterday to get a sneak peak.  It ...
11           2  Wonderful reuben.  Map shown on Yelp page is i...
...        ...                                                ...
559989       2  When Corey sent the email about tickets being ...
559991       2  We tried the Cheese Danish w lemon. Creamy, fl...
559995       2  Ryan was as good as everyone on yelp has claim...
559996       2  Professional \nFriendly\nOn time AND affordabl...
559999       2  Ryan Rocks! I called him this morning for some...

[280000 rows x 2 columns]

## 1. Text Preprocessing for fast.ai NLP
Process date into folders

In [38]:
#for each group
for name, group in df_grp:
    #setup a folder
    folder = str(name)

    #df for each group
    #print(group.__class__)
    
    #write each record to a file
    for index, row in group.iterrows():
        #set file name
        file_name = folder + "/" + str(index) +".txt"
        #print(file_name, row["review"])
        
        #save each review to a separate file
        with open(file_name, 'w') as f:
            f.write(row["review"])

## Xtra

In [31]:
#$xtra - write each row of dataframe to a file - not efficient way but does the job
#vars
i = 0

#for each group
for name, group in df_grp:
    #setup a folder
    folder = str(name)

    #df for each group
    #print(group.__class__)
    
    #write each record to a file
    for index, row in group.iterrows():
        print(row.__class__)
        file_name = folder + "/" + str(index) +".txt"
        print(file_name, row["review"])
        with open(file_name, 'w') as f:
            f.write(row["review"])
        i+= 1
        
        #for quick testing
        if i>3: 
            break

<class 'pandas.core.series.Series'>
1/0.txt Unfortunately, the frustration of being Dr. Goldberg's patient is a repeat of the experience I've had with so many other doctors in NYC -- good doctor, terrible staff.  It seems that his staff simply never answers the phone.  It usually takes 2 hours of repeated calling to get an answer.  Who has time for that or wants to deal with it?  I have run into this problem with many other doctors and I just don't get it.  You have office workers, you have patients with medical needs, why isn't anyone answering the phone?  It's incomprehensible and not work the aggravation.  It's with regret that I feel that I have to give Dr. Goldberg 2 stars.
<class 'pandas.core.series.Series'>
1/2.txt I don't know what Dr. Goldberg was like before  moving to Arizona, but let me tell you, STAY AWAY from this doctor and this office. I was going to Dr. Johnson before he left and Goldberg took over when Johnson left. He is not a caring doctor. He is only interested in the co-pay and having you come in for medication refills every month. He will not give refills and could less about patients's financial situations. Trying to get your 90 days mail away pharmacy prescriptions through this guy is a joke. And to make matters even worse, his office staff is incompetent. 90% of the time when you call the office, they'll put you through to a voice mail, that NO ONE ever answers or returns your call. Both my adult children and husband have decided to leave this practice after experiencing such frustration. The entire office has an attitude like they are doing you a favor. Give me a break! Stay away from this doc and the practice. You deserve better and they will not be there when you really need them. I have never felt compelled to write a bad review about anyone until I met this pathetic excuse for a doctor who is all about the money.
<class 'pandas.core.series.Series'>
1/3.txt I'm writing this review to give you a heads up before you see this Doctor. The office staff and administration are very unprofessional. I left a message with multiple people regarding my bill, and no one ever called me back. I had to hound them to get an answer about my bill. \n\nSecond, and most important, make sure your insurance is going to cover Dr. Goldberg's visits and blood work. He recommended to me that I get a physical, and he knew I was a student because I told him. I got the physical done. Later, I found out my health insurance doesn't pay for preventative visits. I received an $800.00 bill for the blood work. I can't pay for my bill because I'm a student and don't have any cash flow at this current time. I can't believe the Doctor wouldn't give me a heads up to make sure my insurance would cover work that wasn't necessary and was strictly preventative. The office can't do anything to help me cover the bill. In addition, the office staff said the onus is on me to make sure my insurance covers visits. Frustrating situation!
<class 'pandas.core.series.Series'>
1/5.txt Wing sauce is like water. Pretty much a lot of butter and some hot sauce (franks red hot maybe).  The whole wings are good size and crispy, but for $1 a wing the sauce could be better. The hot and extra hot are about the same flavor/heat.  The fish sandwich is good and is a large portion, sides are decent.
<class 'pandas.core.series.Series'>
2/1.txt Been going to Dr. Goldberg for over 10 years. I think I was one of his 1st patients when he started at MHMG. He's been great over the years and is really all about the big picture. It is because of him, not my now former gyn Dr. Markoff, that I found out I have fibroids. He explores all options with you and is very patient and understanding. He doesn't judge and asks all the right questions. Very thorough and wants to be kept in the loop on every aspect of your medical health and your life.